version: '3.8'
services:
  app:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/usr/src/app
      - ./data:/usr/src/app/data
    environment:
      - PORT=4000
      - JWT_SECRET=change_me
    command: npm run dev
